<div layout="column" flex layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button ng-click="vm.edit()">Edit</md-button>
            <h2>Bed Time</h2>
            <md-button ng-click="vm.add()">
                <ng-md-icon icon="add" aria-label="add icon"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding="5">
        <p>{{vmc.name}} content</p>
    </md-content>
    <footer-bar></footer-bar>
</div>