<div layout="vertical" layout-fill>

    <md-content>
        <header>
            <acme-navbar></acme-navbar>
        </header>

        <section class="jumbotron">
            <h1>Electron App :)</h1>
            <button ng-click="main.createWindow()">Click to Exit</button>
            <p> Version <strong>{{main.version}}</strong> of my electron app running on a <strong>{{main.platform}}</strong></p>
            <br/>
            <p class="lead">
                <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
                Always a pleasure scaffolding your apps.
            </p>
        </section>

        <div class="techs" layout-align="center">
            <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
                <md-card-content>
                    <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}"
                         alt="{{ awesomeThing.title }}">
                    <h3 class="md-title">{{ awesomeThing.title }}</h3>
                    <p>{{ awesomeThing.description }}</p>
                </md-card-content>
                <div class="md-action-buttons">
                    <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
                </div>
            </md-card>
        </div>
    </md-content>

</div>
