.timerPage {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
  .md-virtual-repeat-container {
    height: 200px;
    width: 40px;

    .repeated-item {
      height: 30px;
      text-align: center;
      padding-top: 12px;
      margin: 10px 0;
      //border: 1px solid red;
    }
  }

  .md-button.md-fab {
    width: 75px;
    height: 75px;
  }

  .selected {
    height: 23px;
    width: 23px;
    margin: 8px;
    border: 1px solid cornflowerblue;
    position: relative;
    top: -185px;
  }

  //section:nth-child(even) {
  //  border: 2px solid red;
  //}
  //section:nth-child(odd) {
  //  border: 2px solid green;
  //}
}